Makefile
/Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc/
install-sh
*.pot
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
Makefile.am.common
stamp-h*
src/rnc/*.rnc
src/rng/*.rng
tmp.*
testsuite/config
testsuite/run
testsuite/site.exp
testsuite/yast2-schema.*
*.ami
*.bz2
.dep
*.log
.yardoc/
