default namespace = "http://www.suse.com/1.0/yast2ns"
namespace config = "http://www.suse.com/1.0/configns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

include "common.rnc"
include "includes.rnc"

include "classes-use.rnc"

profile = element profile {
   classes? & CONFIGURE_RESOURCE & INSTALL_RESOURCE
}

start = profile
